[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "==0.5.0"
django-model-utils = "==3.1.2"
django-suit = "==0.2.26"
django-suit-redactor = "==0.0.4"
gunicorn = "==19.9.0"
opbeat = "==3.6.1"
whitenoise = "==4.1.2"
"psycopg2" = "==2.7.7"
jsonfield = "==2.0.2"
pytz = "==2018.9"
django-braces = "==1.13.0"
Django = "==2.1.5"
Unipath = "==1.1"
wagtail = "==2.4"
"beautifulsoup4" = "==4.6.0"
certifi = "==2018.11.29"
chardet = "==3.0.4"
django-js-asset = "==1.2.1"
django-modelcluster = "==4.3"
django-taggit = "==0.23.0"
django-treebeard = "==4.3"
djangorestframework = "==3.9.1"
"html5lib" = "==1.0.1"
idna = "==2.8"
requests = "==2.21.0"
six = "==1.12.0"
"urllib3" = "==1.24.1"
webencodings = "==0.5.1"
draftjs_exporter = "==2.1.5"
Pillow = "==5.4.1"
Unidecode = "==1.0.23"
Willow = "==1.1"
black = "*"
django-ckeditor = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"
