{% extends "base.html" %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    {% if tag %}
        <h1><span class="label label-primary">{{ tag.tag }}</span> Talks</h1>
        <hr />
    {% endif %}
    {% for talk in page_obj.object_list %}
        {% include "talks/talk.html" %}
    {% endfor %}
    {% if page_obj.has_previous or page_obj.has_next %}
    <nav>
        <ul class="pagination">
        {% if page_obj.number != 1 %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
        {% for page_number in paginator.page_range %}
            <li {% if page_obj.number == page_number %}class="active"{% endif %}><a href="?page={{ page_number }}">{{ page_number }}</a></li>
        {% endfor %}
        {% if page_obj.number != paginator.num_pages %}
            <li>
                <a href="?page={{ paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
        </ul>
    </nav>
    {% endif %}
    </div>
{% endblock %}