{% extends "blog_base.html" %}
{% block title %}{{ blogpost.title }} - {% endblock %}
{% block meta %}
<meta name="url" content="{{ blogpost.get_canonical_url }}">
<meta property="og:url" content="{{ blogpost.get_canonical_url }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ blogpost.title }}">
<meta property="og:locale" content="en_US">
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ blogpost.title }}" />
{% endblock %}
{% block blog_content %}
{% include "blog/blog_post.html" %}
<div class="well">
<div id="disqus_thread"></div>
</div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/

var disqus_config = function () {
this.page.url = "{{ blogpost.get_canonical_url }}"; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "{{ blogpost.get_disqus_id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

{% if request.sitesettings %}

s.src = '//{{ request.sitesettings.settings.disqus_shortname }}.disqus.com/embed.js'
{% else %}
s.src = '//wordfugue.disqus.com/embed.js';
{% endif %}
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}