{% extends "base.html" %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <p><span class="lead">WordFugue</span> is the combined home of phildini and oboechick, a place for them to collaborate, write, and explore technology, politics, and art.</p>
    <p>This site is powered by <a href="https://www.djangoproject.com/">Django</a> and <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
    <p><span class="lead">Phildini</span> is the online persona of Philip James. Philip is a Senior Software Engineer at Eventbrite. In his spare time, he writes novels, makes twitter bots, and gives technical talks. He used to run a webcomic, but there's just no money in it, you know? Philip is a refugee from the video games industry, and wishes anyone still there the best of luck. Philip has spoken at conferences about Python, Django, Node.js, and Linux. He has volunteered with PyLadies, Python meetup groups in the San Francisco Bay Area, and DjangoCon US. Philip believes in the web.</p>
    <p><span class="lead">Oboechick</span> has spent the past decade studying education, especially education in technical subjects, before deciding to explore software engineering. She's currently using her background to try and make coding education better for newcomers. If Nicholle had to choose food or books, she would choose books. She lives with her husband and cat in California.</p>
</div>
{% endblock %}